@page
@model PersonalDataModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using WholeSaler.Resources
@inject IViewLocalizer Localizer
@inject IdentityLocalizationService IdentityLocalizer

@{
    ViewData["Title"] = IdentityLocalizer.GetLocalizedHtmlString("Personal Datas");
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="text-center">@ViewData["Title"]</h4>

<div class="row text-center">
    <div class="col-md-12">
        <p>@Localizer["Your account contains personal data that you have given us. This page allows you to download or delete that data."]</p>
        <p>
            <strong>@Localizer["Deleting this data will permanently remove your account, and this cannot be recovered."]</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">@Localizer["Download"]</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">@Localizer["Delete"]</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
