@model List<WholeSaler.Controllers.UserRolesViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex justify-content-between">
            <div></div>
            <h6 class="m-0 font-weight-bold text-primary text-center">
                @Localizer["Manage Users Roles"]
            </h6>
            <div></div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Localizer["First Name"]</th>
                        <th>@Localizer["Last Name"]</th>
                        <th>@Localizer["Email"]</th>
                        <th>@Localizer["Roles"]</th>
                        <th>@Localizer["Action"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                            <td>@string.Join(" , ", user.Roles.ToList())</td>
                            <td>
                                <a class="btn btn-primary" asp-action="Manage" asp-route-userId="@user.UserId">@Localizer["Manage Roles"]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>