@model List<WholeSaler.Controllers.ManageUserRolesViewModel>
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Manage";
}
<form asp-action="Manage">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex justify-content-between">
                <a class="btn btn-secondary btn-icon-split" asp-action="Index">
                    <span class="icon text-white-50">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">@Localizer["Back to List"]</span>
                </a>
                <h6 class="m-0 font-weight-bold text-primary align-self-center">
                    @ViewBag.UserName
                </h6>
                <button type="submit" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">@Localizer["Save"]</span>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="card-body">
                <center>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="form-check m-1">
                            <input type="hidden" asp-for="@Model[i].RoleId" />
                            <input type="hidden" asp-for="@Model[i].RoleName" />
                            <input asp-for="@Model[i].Selected" class="form-check-input" />
                            <label class="form-check-label" asp-for="@Model[i].Selected">
                                @Model[i].RoleName
                            </label>
                        </div>
                    }
                    <div asp-validation-summary="All" class="text-danger"></div>
                </center>
            </div>
        </div>
    </div>
</form>