@using WholeSaler.Controllers;
@model List<CategoryViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@using WholeSaler.Utils
@using WholeSaler.Resources
@inject IHtmlLocalizer<SharedResource> SharedLocalizer


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex justify-content-between">
            <a class="btn btn-success btn-icon-split" asp-action="Check">
                <span class="icon text-white-50">
                    @if ((int)ViewData["BasketSize"] != 0)
                    {
                        <span class="badge badge-danger badge-counter">@ViewData["BasketSize"]</span>
                    }
                    else
                    {
                        <i class="fas fa-shopping-basket"></i>
                    }
                </span>
                <span class="text">@SharedLocalizer["Check the Basket"]</span>
            </a>
            <h6 class="m-0 font-weight-bold text-primary align-self-center">
                @SharedLocalizer["Choose Category for Shopping"]
            </h6>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="card-body">
        @{
            int index = 0;

            foreach (var category in Model)
            {
                if (index % 5 != 0)
                {
                    @Html.Raw("<div class='row justify-content-center ml-4 mr-4 mb-4'>");
                }
                <a asp-action="ViewCategory" asp-route-categoryId="@category.Category.CategoryID">
                    <div class="ml-4 mr-4 mb-2 col-11">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            @category.ElementCount Item Here!</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            @category.Category.CategoryName
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-shopping-basket fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                }
            }
    </div>
</div>