@using WholeSaler.Controllers;
@model List<Item>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using WholeSaler.Utils
@using WholeSaler.Resources
@inject IHtmlLocalizer<SharedResource> SharedLocalizer


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex justify-content-between">
            <a class="btn btn-secondary btn-icon-split" asp-action="Index">
                <span class="icon text-white-50">
                    <i class="fas fa-shopping-basket"></i>
                </span>
                <span class="text">@SharedLocalizer["Turn back to Categories"]</span>
            </a>
            <h6 class="m-0 font-weight-bold text-primary align-self-center"> @SharedLocalizer["Choose Item for Shopping"] </h6>
            <a class="btn btn-secondary btn-icon-split" asp-action="Check">
                <span class="icon text-white-50">
                    <i class="fas fa-shopping-basket"></i>
                </span>
                <span class="text">@SharedLocalizer["Check the Basket"]</span>
            </a>
        </div>
    </div>
    <div class="card-body">
        <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
        @foreach (var item in Model)
        {
            <div class="row mt-2 basket-area-row">
                <div class="col-3 basket-area">
                    <div class="h-25">
                        @item.ItemName
                    </div>
                </div>
                <div class="col-6 basket-area">
                    <div class="h-50">
                        @item.ItemDesc
                    </div>
                </div>
                <div class="col-3 basket-area">
                    <div class="h-50">
                        <form asp-action="AddBasket" method="post" target="dummyframe" >
                            <div class="row">
                                <input type="hidden" name="ItemID" value="@item.ItemID" />
                                <input type="number" name="ItemAmount" value="1" />
                            </div>
                            <div class="row">
                                <input type="submit" value="Sepete Ekle" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
