@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model WholeSaler.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>@Localizer["Details"]</h1>

<div>
    <h4>@Localizer["Vehicle"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehiclePlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehiclePlate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VehicleID">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
