@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model WholeSaler.Models.Operation
@using WholeSaler.Resources
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Details";
}

<h1>@SharedLocalizer["Details"]</h1>

<div>
    <h4>@SharedLocalizer["Operation"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Basket)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Basket.UserID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date.DateID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationOwnerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OperationValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OperationValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OperationID">@Localizer["Edit"]</a> |
    <a asp-action="Index">@LocaliSharedLocalizerzer["Back to List"]</a>
</div>
