@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using WholeSaler.Resources
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@using WholeSaler.Utils
@model PaginatedList<WholeSaler.Models.Operation>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex justify-content-between">
            <div></div>
            <h6 class="m-0 font-weight-bold text-primary align-self-center">
                @SharedLocalizer["Items"]
            </h6>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @{ 
                                var exampleItem = Model.FirstOrDefault();
                            }
                            <a asp-route-sortOrder="operation_owner">
                                @Html.DisplayNameFor(model => exampleItem.Owner.UserName)
                            </a>
                        </th>
                        <th>
                            <a asp-route-sortOrder="operation_value">
                                @Html.DisplayNameFor(model => exampleItem.OperationValue)
                            </a>
                        </th>
                        <th>
                            <a asp-route-sortOrder="operation_date">
                                @Html.DisplayNameFor(model => exampleItem.Date)
                            </a>
                        </th>
                        <th>
                            <a asp-route-sortOrder="operation_location">
                                @Html.DisplayNameFor(model => exampleItem.Location)
                            </a>
                        </th>
                        <th>
                            @SharedLocalizer["Actions"]
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count != 0)

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Owner.UserName)
                                </td>
                                <td>
                                    @SharedLocalizer["$"] @Html.DisplayFor(model => item.OperationValue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Location.Adress) @Html.DisplayFor(model => item.Location.City.CityName) @Html.DisplayFor(model => item.Location.City.Country.CountryName)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.OperationID">@SharedLocalizer["Details"]</a> |
                                    <a asp-action="Delete" asp-route-id="@item.OperationID">@SharedLocalizer["Delete"]</a>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr><td colspan="6" class="text-center"> @SharedLocalizer["No data could be found in the conditions you were looking for."] </td></tr>
                        }

                </tbody>
            </table>
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

        </div><div class="row justify-content-center">

            <a asp-action="Index"
               asp-route-pageSize="@ViewData["CurrentSize"]"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-primary mr-1 @prevDisabled">
                @SharedLocalizer["Back"]
            </a>


            <select class="custom-select custom-select-sm form-control form-control-sm col-sm-1" aria-label=".form-select-lg example" onchange="javascript:pageSizeChange(this)">
                @foreach (int index in Enumerable.Range(1, 10))
                {
                    int value = index * 10;
                    @if (Model.CurrentPageSize == value)
                    {
                        <option selected value="@value">
                            <a class="dropdown-item btn btn-primary" asp-action="Index"
                               asp-route-pageSize="@value"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@ViewData["CurrentPage"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">@value</a>
                        </option>
                    }
                    else
                    {
                        <option value="@value">
                            <a class="dropdown-item btn btn-primary" asp-action="Index"
                               asp-route-pageSize="@value"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@ViewData["CurrentPage"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">@value</a>
                        </option>
                    }

                }
            </select>
            <a asp-action="Index"
               asp-route-pageSize="@ViewData["CurrentSize"]"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@ViewData["CurrentSize"]"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               hidden
               id="applyPageSizeChange"
               class="btn btn-primary ml-1">
                @ViewData["CurrentSize"]
            </a>
            <a asp-action="Index"
               asp-route-pageSize="@ViewData["CurrentSize"]"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-primary ml-1 @nextDisabled">
                @SharedLocalizer["Next"]
            </a>
        </div>
    </div>
</div>

<script src="~/js/data_table.js"></script>