@model WholeSaler.Models.Operation

@{
    ViewData["Title"] = "SendVehicle";
}
@{ 
    foreach(Operation operation in ViewBag.Operations)
    {
        if(ViewBag.Vehicles.Contains(operation.Vehicle))
        {
            ViewBag.Vehicles.Remove(operation.Vehicle);
        }
    }
}

<form asp-action="Create">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex justify-content-between">
                <a class="btn btn-secondary btn-icon-split" asp-action="Index">
                    <span class="icon text-white-50">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">Listeye Dön</span>
                </a>
                <h6 class="m-0 font-weight-bold text-primary align-self-center">
                    @ViewData["Title"]
                </h6>
                <button type="submit" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Send Operation</span>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-6">
                    <div class="card border-left-primary border-start-3 shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <label asp-for="VehicleID" class="control-label text-center"></label>
                                    <hr class="sidebar-divider">
                                    @foreach (Vehicle vehicle in ViewBag.Vehicles)
                                    {
                                        <input type="radio" class="" asp-for="VehicleID" value="@vehicle.VehicleID" />@vehicle.VehicleName<br />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <div class="card border-left-secondary border-start-3 shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <label asp-for="OperationID" class="control-label text-center"></label>
                                    <hr class="sidebar-divider">
                                    @foreach (Operation operation in ViewBag.Operations)
                                    {
                                        <input type="radio" class="" asp-for="OperationID" value="@operation.OperationID" />@operation.Owner.UserName @operation.Location.Adress<br />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
